.section-slideshow {
  position: relative;
  z-index: 1;
  .btn-action {
    display: none;
    position: absolute;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
  }
  .btn-back {
    right: 0;
  }
  &:hover {
    .btn-action {
      display: block;
    }
  }
  .slide-list {
    z-index: 2;
    .slide-item {
      position: relative;
      z-index: 100;
      &:first-child {
        .slide-content {
          left: 50%;
        }
      }
      .slide-img {
        @include pxRem(height, 560);
        width: 100%;
      }
      .slide-content {
        position: absolute;
        width: 46%;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
      }
    }
  }
}
.slide-content {
  .slide-title {
    @include pxRem(font-size, 48);
    @include pxRem(padding-bottom, 20);
    color: map-get($colors, white);
    font-weight: 700;
    line-height: 1.2em;
  }
  .slide-description {
    @include pxRem(font-size, 16);
    @include pxRem(margin-bottom, 40);
    color: map-get($colors, white);
    font-weight: 400;
  }
  .btn-second {
    @include pxRem(margin-left, 15);
    color: map-get($colors, white);
  }
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  from {
   transform: translateX(50%);
 }

 to {
   transform: translateX(0%);
 }
}

@include respond-below(large) {
  .section-slideshow {
    .slide-list {
      .slide-item {
        .slide-img {
          @include pxRem(height, 402);
        }
      }
    }
    .btn-action {
      display: block;
    }
  }
  .slide-content {
    .slide-title {
      @include pxRem(font-size, 30);
      @include pxRem(padding-bottom, 10);
    }
    .slide-description {
      @include pxRem(font-size, 16);
      @include pxRem(margin-bottom, 15);
    }
    .btn-primary, .btn-second {
      @include pxRem(padding, 8 11);
      @include pxRem(font-size, 10);
    }
  }
  .wrapper-sub-title {
    text-align: center;
  }
}

@include respond-below(medium) {
  .section-slideshow {
    .slide-list {
      .slide-item {
        .slide-img {
          @include pxRem(height, 246);
        }
        .slide-content {
          .btn-primary, .btn-second {
            display: none;
          }
        }
      }
    }
  }
}
