.dropdown {
  position: relative;
  transition: height 3s;
  z-index: 1000;
  & > a:after {
    @include pxRem(font-size, 14);
    @include pxRem(margin-left, 8);
    font-weight: 700;
    font-family: 'FontAwesome';
    content: "\f107";
    color: map-get($colors, txt-black);
  }
  &:hover > a:after {
    color: map-get($colors, primary);
  }
  .dropdown-content {
    @include pxRem(padding, 10 0);
    border-bottom: 2px solid map-get($colors, primary);
    top: 103%;
    left: 0%;
    position: absolute;
    background-color: map-get($colors, bg-green);
    opacity: 0;
  }
  &:hover {
    .dropdown-content {
      opacity: 1;
      li {
        @include pxRem(padding, 0 20);
        @include pxRem(width, 230);
        align-items: center;
        & > a {
          @include pxRem(padding, 15);
          display: block;
        }
        & > a, & > a:after {
          color: map-get($colors, white);
          font-weight: 400;
        }
      }
      li:hover {
        position: relative;
        background-color: map-get($colors, bg-green);
        &::after {
          @include pxRem(right, 30);
          @include pxRem(font-size, 10);
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          content: "\003E";
          color: map-get($colors, white);
        }
        & > a {
          background-color: map-get($colors, primary);
          color: map-get($colors, white);     
        }
      }
    }
  }
  .drop-sub {
    position: relative;
    transition: width 4s;
    .dropdown-content {
      @include pxRem(width, 170);
      position: absolute;
      top: 0;
      left: 100%;
      opacity: 0;
      transition: width 1s;
    }
    &:hover {
      .dropdown-content {
        width: 100%;
        opacity: 1;
      }
    }
    a::after {
      display: none;
    }
  }
}
