.dropdown {
  position: relative;
  & > ul {
    display: none;
  } 
  & > a:after {
    @include pxRem(font-size, 14);
    @include pxRem(margin-left, 8);
    font-weight: 700;
    font-family: 'FontAwesome';
    content: "\f107";
    color: map-get($colors, txt-black);
  }
  &:hover > a:after {
    color: map-get($colors, primary);
  }
  &:hover > ul {
    @include pxRem(padding, 10 20);
    border-bottom: 2px solid map-get($colors, primary);
    top: 100%;
    left: 0%;
    position: absolute;
    display: block;
    background-color: map-get($colors, bg-green);
    z-index: 100;
    li {
      @include pxRem(padding, 15);
      @include pxRem(width, 200);
      align-items: center;
      & > a, & > a:after {
        color: map-get($colors, white);
        font-weight: 400;
      }
    }
    li:hover {
      position: relative;
      background-color: map-get($colors, primary);
      &::after {
        @include pxRem(right, 15);
        @include pxRem(font-size, 10);
        position: absolute;
        content: "\003E";
        color: map-get($colors, white);
      }
      & > a {
        color: map-get($colors, white);
      }
    }
  }
  .drop-sub {
    a::after {
      display: none;
    }
    ul {
      top: 0 !important;
      left: 100% !important;
    }
  }
}
