.sec-title {
  @include pxRem(font-size, 32);
  color: map-get($colors, txt-bold);
  font-weight: 400;
  text-align: center;
  &:after {
    @include pxRem(width, 150);
    top: 100%;
    content: "";
    display: block;
    border: 2px solid map-get($colors, primary);
    margin: 0 auto;  
  }
}
.sub-title {
  @include pxRem(font-size, 18);
  @include pxRem(margin-top, 10);
  color: map-get($colors, txt-gray3);
  font-weight: 300;
}
